*.bak
*.coverprofile
*.etcd
*.log
*.swp
*.test
*.tmp
*/vendor
.gobincache/
.idea
/agent-*
/bin
/contrib/raftexample/raftexample
/contrib/raftexample/raftexample-*
/covdir
/coverage
/etcd
/gopath
/gopath.proto
/hack/insta-discovery/.env
/release
/tests/e2e/default.proxy
*.tmp
*.bak
.gobincache/

/tools/etcd-dump-db/etcd-dump-db
/tools/etcd-dump-logs/etcd-dump-logs
/tools/etcd-dump-metrics/etcd-dump-metrics
/tools/benchmark/benchmark

/vendor
hack/tls-setup/certs
