*.bak
*.coverprofile
*.etcd
*.log
*.swp
*.test
*.tmp
*/vendor
.gobincache/
.idea
/agent-*
/bin
/contrib/raftexample/raftexample
/contrib/raftexample/raftexample-*
/covdir
/coverage
/etcd
/gopath
/gopath.proto
/hack/insta-discovery/.env
/release
/tests/e2e/default.proxy
/vendor
hack/tls-setup/certs
