Source: etcd
Section: net
Priority: optional
Standards-Version: 4.5.0
Maintainer: Wong Hoi Sing Edison <hswong3i@gmail.com>
Homepage: https://github.com/etcd-io/etcd/tags
Vcs-Browser: https://github.com/alvistack/etcd-io-etcd
Vcs-Git: https://github.com/alvistack/etcd-io-etcd.git
Build-Depends:
 debhelper,
 debhelper-compat (= 10),
 golang-1.21,

Package: etcd
Architecture: amd64
Description: Highly-available key value store for configuration and service discovery
 etcd is a distributed, consistent key-value store for shared
 configuration and service discovery, with a focus on being:
   - Simple: well-defined, user-facing API (gRPC)
   - Secure: automatic TLS with optional client cert authentication
   - Fast: benchmarked 10,000 writes/sec
   - Reliable: properly distributed using Raft
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
